.paint-canvas {
  left: 0px;
  background-color: transparent;
  border: 1px black solid;
  display: block;
  margin: 1rem 0 0 0;
}

.color-picker {
  margin: 1rem 1rem 0 1rem;
}

.canva {
  left: 0px;
  background-color: transparenty;
  width: 100vw;
  height: 10px;
}

canvas{
  position: absolute;
}

#grid{
  left: 0px;
  background-color: transparent;
  z-index: 0;
}

.botones{
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

button{
  all: unset;
  cursor: pointer;
}

#borrar{
  background-color: #f3e5e5;
  display: inline-flex;
  align-items:center;
  justify-content: center;
  gap:5px;
  padding: 1px 5px;
  border-radius: 12px;
  border: none;
  margin: 4px 2px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#borrar i{
  color:rgb(219, 81, 81);
}

#borrar:hover{
  cursor: pointer;
}

#borrar:active{
  background-color: #8e3e3e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#malla{
  display: none;
}

#label-malla{
  background-color: #e7e5f3;
  display: inline-flex;
  align-items:center;
  justify-content: center;
  gap:5px;
  padding: 1px 5px;
  border-radius: 12px;
  border: none;
  margin: 4px 2px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#malla i{
  color:rgb(81, 141, 219);
}

#malla:hover{
  cursor: pointer;
}

#malla:checked + #label-malla{
  background-color: #1f2ca8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#lapiz{
  background-color: #f1f3e5;
  display: inline-flex;
  align-items:center;
  justify-content: center;
  gap:5px;
  padding: 1px 5px;
  border-radius: 12px;
  border: none;
  margin: 4px 2px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#lapiz i{
  color:rgb(255, 188, 4);
}

#lapiz:hover{
  cursor: pointer;
}

#lapiz:active{
  background-color: #f1f3e5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#goma{
  background-color: #f1f3e5;
  display: inline-flex;
  align-items:center;
  justify-content: center;
  gap:5px;
  padding: 1px 5px;
  border-radius: 12px;
  border: none;
  margin: 4px 2px;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#goma i{
  color:rgb(245, 177, 146);
}

#goma:hover{
  cursor: pointer;
}

#goma:active{
  background-color: #f1f3e5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}